PORT=3000
ADMIN_UPLOAD_KEY=admin123
CLOUDINARY_CLOUD_NAME=de6v9f1za
CLOUDINARY_API_KEY=567256621155781
CLOUDINARY_API_SECRET=ba55oHMGfhx6deuE1Qoi8lroCRs
# Optional: change to group uploads inside Cloudinary
CLOUDINARY_FOLDER=pyq-papers
